.contact-container {
    max-width: 500px;
}

form > div {
    margin-block: 20px;
}
input, textarea {
    border: 1px solid black;
    display: block;
    padding-block: 10px;
    width: 100%;
    font-size: 18px;
    text-indent: 10px;
}
.name-input {
    margin-bottom: 20px;
}
textarea {
    max-width: 500px;
    text-indent: 0;
    padding: 0 10px;
}
form .action-btn {
    margin: 1rem 0 0 0;
}

@media (min-width: 768px) {
    form > div {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        display: flex;
    }
    .name-input {
        margin-bottom: 0;
    }
}